<h1>Detalhes do Projeto</h1>
<div>
    <ul>
	     <div><strong>Nome: </strong><%= @project.name %></div>
       <div><strong>Descrição: </strong><%= @project.description%></li><br>
       <p><input type="button" value="Voltar" onClick="history.go(-1);"></p>
  </ul>
</div>

