<h1>Detalhes do Projeto</h1>
<div>
    <ul>
	     <div><strong>Nome: </strong><%= @project.name %></div>
       <div><strong>Descrição: </strong><%= @project.description%></li><br>
       <p><%= link_to "Voltar", projects_path%></p>
  </ul>
</div>

