<h1>Project <%= @project.name %></h1>
<div>
    <ul>
	     <div><strong>Name: </strong><%= @project.name %></div>
       <div><strong>Description: </strong><%= @project.description%></li><br>
       <p><%= link_to "Back", projects_path%></p>
  </ul>
</div>

