	@import "bootstrap-sprockets";
	@import "bootstrap";

.details {
	color: blue;
}

.delete_icon{
	color: red;
}

.new-project {
	margin-top: 20px;
}

.content {
	margin-top: 65px;
}

.greetings {
	margin-top: 12px;
	margin-right: 25px;
}

.btn-main {
	margin-top: 5px;
	margin-right: 15px;	
}

.navbar{
	background-color: #feb518
}

.buttons {
	margin-top: 12px;
}
.has-test-plan{
  color: red;
  margin-left: 100px;
}

.failures {
	background-color: #CC3333;
}

.passed {
	background-color: #32cd32;	
}

.blocked {
	background-color: #96CDCD;	
}

.not_executed {
	background-color: #f0f0f0;
}