	@import "bootstrap-sprockets";
	@import "bootstrap";

.details {
	color: blue;
}

.delete_icon{
	color: red;
}

.new-project {
	margin-top: 20px;
}

.content {
	margin-top: 65px;
}

.greetings {
	margin-top: 12px;
	margin-right: 25px;
}

.btn-main {
	margin-top: 5px;
	margin-right: 15px;	
}

.navbar{
	background-color: #feb518
}

.buttons {
	margin-top: 12px;
}