<div class="jumbotron text-center">
  <h3>Create the first Test Case</h3>
  <p>This test plan don't have any test cases. Please, create a test case</p>
  <span class="new-project">
    <%= link_to "New Test Case", new_project_test_case_path(test_plan: @test_plan.id), class: "btn btn-primary" %>
  </span>
</div>