<h1><%= @test_plan.test_plan_name%> | Test Plan</h1>
<div>
    <ul>
      <li>
      	<strong>Description:</strong>
      	<%= @test_plan.test_plan_description %>
      </li>
      <li>
      	<strong>Project</strong>
      	<%= @test_plan.project.name %>
      </li>
      <li>
				<%= link_to "Edit", edit_test_plan_path %>
      </li>
    </ul>
</div>